body {
    margin: 0;
}
main {
    flex-direction: column-reverse;
}
ul {
    flex-direction: column;
}
ul li {
    margin: 0 ;
    width: 80%;
}
a {
    display: block;
    text-align: center;
}
main {
    height: auto;
}
aside {
    width: auto;
}
section {
    width: auto;
}
