main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    height: 45em;
}

header {
    width: 100%;
}

ul {
    display: flex;
    background-color: rgb(2, 168, 136);
    justify-content: space-around;
    align-items: center;
    height: 10em;
}
li {
    margin: 2em;
    list-style: none;
    background-color: rgb(100, 172, 53);
    padding: 1em;


}
a {
    text-decoration: none;
    color: black;
}

aside {
    width: 20%;
    background-color: yellow;
    border-radius: 2em;
    text-align: center;
    order: 1;

}

section {
    width: 70%;
    background-color: #f8cec0;
    border-radius: 2em;
    text-align: center;
}
